FARMPULSE_APP_API_KEY=замените-на-длинную-случайную-строку
FARMPULSE_BIND_HOST=127.0.0.1
FARMPULSE_BIND_PORT=8000
# Опционально начальный снимок из PHP config:
# FARMPULSE_BOOTSTRAP_CONFIG=/var/www/farmpulse/api/v2/farms/config.json
